/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
    background: none;

    box-sizing: border-box;

    font-size: var(--main-dim);
    font-weight: var(--bold-weight);

    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;
}

/* RESET */

/* VARIABLES */

:root{

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* COLORS */

    --blue-col: #0D63F3;
    --white-col: #FFFFFF;
    --green-col: #5DB075;
    --gray-col: #BDBDBD;

    /* COLORS */

    /* FONT */
    
    --header-dim: 25px;
    --main-dim: 16px;
    --logo-dim: 20px;

    --boldest-weight: 700;
    --bold-weight: 600;
    --main-weight: 500;

    /* FONT */

    /* BORDERS */

    --header-radius: 43px;
    --button-radius: 5px;

    /* BORDERS */

}

/* VARIABLES */

/* MAIN STYLES */

.content{
    width: 100%;
}

.main-header{
    color: var(--white-col);
    background: var(--blue-col);

    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    border-radius: 0px 0px var(--header-radius) var(--header-radius);

    padding: 15px 25px;
}

.logotype{
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-left: 25px; */
}

.logotype .logotype-text{
    font-size: var(--logo-dim);
    font-weight: bold;
}

.navigation{
    display: flex;
    justify-content: space-between;

    width: 30%;
}

.menu{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu img{
    width: 2em;
    /* width: 100%; */

    border: var(--white-col);
    border-radius: 100%;

    background: #5DB075;

    box-shadow: 0px 0px 3px 0px var(--white-col);
}

.menu .email{
    font-size: var(--main-dim);
    font-weight: var(--main-weight);
}

.wrapper{
    display: block;

    width: 95%;

    margin: 0 auto;
}

.create-meeting{
    width: 170px;

    padding: 15px 0px;

    margin-top: 20px;

    color: var(--white-col);
    background: var(--blue-col);
    border: 1.5px solid var(--blue-col);

    border-radius: var(--button-radius);
    cursor: pointer;
}

.create-meeting:hover{
    background: none;
    border: 1.5px solid var(--blue-col);
    color: var(--blue-col);
}

/* MAIN STYLES */